* {
    margin: 0;
    padding: 0;
}


body{
    color:#065A82 ;
}


h1 {
    font-family: 'Quicksand';
}

h2 {
    font-family: 'Quicksand';
    font-size: small;
    font-weight: 500;
}

h3 {
    font-family: 'Quicksand';
    font-size: 700;
    font-weight: 500;
    color: #ffffff;
}

h4 {
    font-family: 'Quicksand';
    font-size: 700;
    font-weight: 700;
    color: #ffffff;
}

header {
    height: 200px;
    width: 100%;
    background-color: #FFFFFF;
}

.maatschappijinfo {
    color: #065A82;
    padding: 30px;
    flex-direction: row;
    width: 100%;
}

.maatschappijtekst {
    padding: 20px;
    padding-left: 45px;
    margin-top: -10px;
    font-size: x-large;
}

.flex {
    display: flex;
}

.position {
    position: relative;
}

.taal {
    flex-direction: row;
}

.nltekst {
    padding-left: 5px;
    padding-top: 2px;
    color: black;
}

.inloggen {
    padding-left: 45px;
}

.inlogplaatje {
    margin-top: -5px;
}

.taalinloggen {
    left: 800px;
}

main {
    width: 100%;
    height: 800px;
    background-color: #21295C;
}

.hoofdteksten {
    flex-direction: row;
}

.hoofdtekstpositie {
    right: 800px;
    top: 150px;
    gap: 60px;
    width: max-content;
}


.blok-container{
    display: flex;
}
.vluchtfoto {
    justify-content: center;
}

.dealsbox {
    background-color: #21295C;
    border-radius: 10px;
    width: 400px;
    height: 180px;
    opacity: 65%;
    bottom: 690px;
    left: 800px;
}

.dealstekst {
    padding: 15px;
    width: 400px;
    height: 180px;
    bottom: 873px;
    left: 800px;
}

.naardeals {
    justify-content: flex-end;
    padding-right: 20px;
    color: #ffffff;
    bottom: 935px;
    right: 320px;
}

.naardeals a {
    color: #ffffff;
    text-decoration: none;
}

.blauwebox {
    background-color: #0077CD;
    width: 150px;
    height: 30px;
    border-radius: 12px;
    justify-content: center;
    align-items: center;
}


.blauweboxes {
    flex-direction: row;
    width: fit-content;
    gap: 40px;
    left: 350px;
    margin-top: -730px;
    opacity: initial;
}

.vertrekblok {
    width: 1250px;
    height: 150px;
    background-color: #065A82;
    border-radius: 32px;
    left: 135px;
    bottom: 140px;
    padding-left: 1px;
}

.witteboxes {
    border-radius: 6px;
    height: 60px;
    flex-direction: row;
    gap: 30px;
    top: 45px;
    left: 50px;
}

.wittebox1 {
    width: 180px;
    justify-content: center;
    align-items: center;
    outline-style: solid;
    outline-color: black;
    outline-width: 3px;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.wittebox2 {
    width: 360px;
    background-color: #FFFFFF;
    justify-content: flex-start;
}

.wittebox3 {
    background-color: #FFFFFF;
}

.omgedraaidimg {
    padding: 10px;
    padding-top: 14px;
}

.extraruimte {
    padding-left: 30px;
}

.dropdownbox {
    padding-left: 50px;
    padding-top: 5px;
}

.splitslijn {
    background-color: white;
    height: 13px;
    width: 100%;
    top: 180px;

}



.deals-bestemmingen-blok{
  height: 63px;
    width: 425px;
    background-color:#13B3B6;
    border-radius: 50px;
    margin-top: 40vh;
    text-align: center;
}

.deals-bestemmingen-blok h1{
    text-align: center;
    margin-top: 30px;
    color: white;
}

.container-deals-vluchten{
    position: absolute;
    right: 1000px;
}


.bestemmingen-deals h1{
color: #13B3B6
}










.bekende-bestemmingen-blok{
    height: 63px;
    width: 425px;
    background-color:#13B3B6;
    border-radius: 50px;
    margin-top: 100vh;
}


.bekende-bestemmingen-blok h1{
    text-align: center;
    margin-top: 15px;
    color: white;
}


    .bestemmingen-deals h1{
        color: white;
    }





.blok-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}




.container-img,
.container-img2 {
  display: grid;
  gap: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
}

.container-img {
  grid-template-columns: repeat(3, 1fr);
}

.container-img2 {
  grid-template-columns: repeat(2, 1fr);
}

.blok-autoverhuur{
      width: 300px;
  height: 300px;
  background-color: #065A82;
  border-radius: 30px;
}

.blok-hotellverhuur{
      width: 300px;
  height: 300px;
  background-color: #065A82;
  border-radius: 30px;
      display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.verhuur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 100px;
}

.huur-een-auto{
    width: 250px;
    height: 100px;
    background-color: #13B3B6;
    border-radius: 35px;
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}



.container-auto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}



.container-hotel{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.huur-een-kamer{
        width: 250px;
    height: 100px;
    background-color: #13B3B6;
    border-radius: 35px;
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}

.footer-blok-info{
    background-color: black;
    height: 250px;
    width: 100%;
    margin-top: 250vh;
}

.footer-blok-info img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 100px;
    margin-top: 70px;
}

.footer-blok-info h1{
  font-size: 50px;
    color: #0077CD;
    position: absolute;
    left: 300px;
        margin-top: 90px;

    
}