* {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Quicksand';
}

h2 {
    font-family: 'Quicksand';
    font-size: small;
    font-weight: 500;
}

header {
    height: 200px;
    width: 100%;
    background-color: #FFFFFF;
}

.maatschappijinfo {
    color: #065A82;
    padding: 30px;
    flex-direction: row;
    width: 100%;
}

.maatschappijtekst {
    padding: 20px;
    padding-left: 45px;
    margin-top: -10px;
    font-size: x-large;
}

.flex {
    display: flex;
}

.position {
    position: relative;
}

.taal {
    flex-direction: row;
}

.nltekst {
    padding-left: 5px;
    padding-top: 2px;
    color: black;
}

.inloggen {
    padding-left: 45px;
}

.inlogplaatje {
    margin-top: -5px;
}

.taalinloggen {
    position: relative;
    left: 800px;
}

main {
    width: 100%;
    height: 650px;
    background-color: lightgray;
}

.hoofdteksten {
    flex-direction: row;
}

.hoofdtekstpositie {
    position: relative;
    right: 800px;
    top: 150px;
    gap: 60px;
    width: max-content;
}












.bekende-bestemmingen-blok{
    height: 63px;
    width: 425px;
    background-color:#13B3B6;
    border-radius: 50px;
    margin-top: 50vh;
}


.bekende-bestemmingen-blok h1{
    text-align: center;
    margin-top: 15px;
    color: white;
}



.blok-container{
    display: flex;
    justify-content: center;
    align-items: center;
}






.container-img,
.container-img2 {
  display: grid;
  align-content: center;
  gap: 20px;
  padding: 20px;
  width: 300px;
  height: 300px;
}

.container-img {
  grid-template-columns: repeat(3, 1fr);
}

.container-img2 {
  grid-template-columns: repeat(2, 1fr);
}

.blok-autoverhuur{
      width: 300px;
  height: 300px;
  background-color: #065A82;
  border-radius: 30px;
}

.blok-hotellverhuur{
      width: 300px;
  height: 300px;
  background-color: #065A82;
  border-radius: 30px;
}

.verhuur{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    margin-top: 100px;
}

.huur-een-auto{
    width: 250px;
    height: 100px;
    background-color: #13B3B6;
    border-radius: 35px;
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}



.container-auto{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}






.hotel{
     width: 250px;
    height: 100px;
    background-color: #13B3B6;
    border-radius: 35px;
    text-align: center;
    margin-top: 25px;
    font-size: 15px;
}